<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PracitceDocument</title>
  <link rel="stylesheet" href="/public/third_party/bootstrap/css/bootstrap.min.css" />
</head>
<body>
  <div class= "container">
    <h1>練習用サンプル</h1>
    <P>Node.js + Expressで簡単なWebアプリケーションができました</P>
    <p>参照元:<a id="link-text" href="https://qiita.com/nakashun1129/items/41471e020f32236b6b96">Node.jsで作る簡単なWebアプリケーション</a></p>
  </div>
</body>
</html>
