<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculators</title>
        <link rel="stylesheet" href="..\public\third_party\bootstrap\css\calcu.css">
    </head>
    <body>
        <div class="container">
            <p>電卓</p>
            <p>作成中</p>
            <table border="1">
                <tr>
                    <td colspan="4">
                        <input
                            type="text"
                            id="integer"
                            required
                            minlength="0"
                            maxlength="16"
                            value="0"
                        >
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">AC</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">()</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">%</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">+</p>
                        </button>
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">7</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">8</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">9</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">-</p>
                        </button>
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">4</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">5</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">6</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">×</p>
                        </button>
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">1</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">2</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">3</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">÷</p>
                        </button>
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">0</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">.</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">←</p>
                        </button>
                    </td>
                    <td>
                        <button class="integer-buttons">
                            <p id="button-text">=</p>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
