<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
        <link rel="stylesheet" href="..\public\third_party\bootstrap\css\calcu.css">
    </head>
    <body>
        <div class="container">
            <p>電卓</p>
            <p>作成中</p>
            <table border="1">
                <tr>
                    <td colspan="4">
                        <input
                            type="text"
                            id="integer"
                            required
                            minlength="0"
                            maxlength="16"
                            size="16"
                            value="0"
                        >
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <input class="integer-buttons"  type="button" value="AC">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="()">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="%">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="+">
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <input class="integer-buttons"  type="button" value="7">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="8">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="9">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="-">
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <input class="integer-buttons"  type="button" value="4">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="5">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="6">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="×">
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <input class="integer-buttons"  type="button" value="1">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="2">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="3">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="÷">
                    </td>
                </tr>
                <tr class="buttons">
                    <td>
                        <input class="integer-buttons"  type="button" value="0">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value=".">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="←">
                    </td>
                    <td>
                        <input class="integer-buttons"  type="button" value="=">
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
